<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>User Admin</title>
         <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                padding-top: 70px;
                background-image: url("http://www.pgcblog.com/wordpress/wp-content/uploads/2014/05/Mailbox.png");
            }
            div.transbox{
               box-shadow: 10px 10px 5px grey;
               border-radius: 25px;
               background-color: #cccccc ;
               width: 100%;
               height: 100%;
               margin-top: 30px;
               padding: 20px;   
           }
            /* Customize container */
            @media (min-width: 768px) {
                .container {
                    max-width: 730px;
                }
            }
            /* Customize container */
            @media (min-width: 1024px) {
                .container-fluid {
                    max-width: 1000px;
                }
            }
        </style>
    </head>
    <body>

        <!-- Fixed navbar -->
        <%- partial ('partials/navigation.ejs') %>

        <div class="container">
        <div class="transbox">
            <!-- include view here -->
            <%- body %>
        </div>    
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>